@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.main {
  &.state1 {
    background-image:
      url("https://m.media-amazon.com/images/I/71CydciFboL._AC_UF1000,1000_QL80_.jpg"),
      url("https://m.media-amazon.com/images/I/71CydciFboL._AC_UF1000,1000_QL80_.jpg"),
      url("https://static.vecteezy.com/system/resources/previews/025/397/673/non_2x/pen-icon-for-your-website-mobile-presentation-and-logo-design-vector.jpg"),
      url("https://domsindia.com/wp-content/uploads/2025/08/244-scaled-1.webp");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain, 10%, 10%;
    background-position: left, right, top center, bottom center;
  }
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .global_loading_wrapper {
    display: flex;
    justify-content: center;
    animation: rotation 1s ease infinite;
    width: 30%;
    .img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      height: auto;
      object-fit: contain;
    }
  }
}
