@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}



.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  .global_loading_wrapper {
    animation: rotation 1s ease infinite;
    .img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      height: auto;
      object-fit: contain;
    }
  }
}
