@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.head {
  background-color: #0065A2;
  flex: 0;
  min-height: 60px;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  .left_head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .title {
      color: white;
    }
  }

  .right_head {
    margin-right: 20px;
    .logout {
      transition: opacity 0.5s ease-in-out;
      &.fadeIn {
        animation: fadeIn 0.5s forwards;
      }
      &.fadeOut {
        animation: fadeOut 0.5s forwards;
      }
    }
  }
}
