*{
  margin: 0;
  padding: 0;
}

#root {
  /* max-width: 1280px; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: start;
  justify-content: start; */

}


